<form class="form-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Creación de Catalogo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="input">
            <input matInput placeholder="Nombre del Catalogo" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="input">
            <mat-label>Tipo</mat-label>
            <mat-select>
              <mat-option> some </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button="" color="primary">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
